<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE山寨小demo</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="hello">
        <input type="text" v-model="child.world">
        <p v-class="className" class="abc"> </p>
        第一个输入框：<span> {{hello}} </span> <br>
        第二个输入框：<span v-text="child.world"></span>
        <p v-html="htmlStr"></p>
        <p>点击,把两个输入框的值交换:</p>
        <button v-on:click="clickBtn">交换两个值</button>
    </div>
    <a href="https://github.com/shaqihe/vue-mvvm" target="_blank">通过简单的流程，模拟下vue的双向绑定的实现，点击查看git源码地址</a>
    <script src="./src/observer.js"></script>
    <script src="./src/watcher.js"></script>
    <script src="./src/compile.js"></script>
    <script src="./src/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                hello: 'hello',
                className: 'text',
                htmlStr: '<h3>我是innerHtml</h3>',
                child: {
                    world: 'World !'
                }
            },

            methods: {
                clickBtn: function(e) {
                    //点击交换两个input的值
                    var hello = this.hello;
                    this.hello = this.child.world;
                    this.child.world = hello;
                }
            }
        });

        vm.$watch('child.someStr', function() {
            console.log(arguments);
        });
    </script>
</body>
</html>
